<!DOCTYPE html>
<html long="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= typeof title!= 'undefined' ? title:'Programing Club' %></title>
    </head>
    <body>
        <%- body -%> <!-- body is the content of the page -->
    </body>
 </html>