<!-- <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">


<title>profile with data and skills - Bootdey.com</title>
<meta name="viewport" content="width=device-width, initial-scale=1"> -->

<%- include('includes/navbar.ejs') %>
<link href="css/proflile.css" rel="stylesheet">

<!-- </head> -->
<body>
<div class="container">
<div class="main-body">



<div class="row gutters-sm">
<div class="col-md-4 mb-3">
<div class="card">
<div class="card-body">
<div class="d-flex flex-column align-items-center text-center">
<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
<div class="mt-3">
<h4>John Doe</h4>
<p class="text-secondary mb-1">Student at DAIICT</p>
<p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>

</div>
</div>
</div>
</div>
<div class="card mt-3">
</div>
</div>
<div class="col-md-8">
<div class="card mb-3">
<div class="card-body">
<div class="row">
<div class="col-sm-3">
<h6 class="mb-0">Full Name</h6>
</div>
<div class="col-sm-9 text-secondary">
Kenneth Valdez<%- user.name %>
</div>
</div>
<hr>
<div class="row">
<div class="col-sm-3">
<h6 class="mb-0">Email</h6>
</div>
<div class="col-sm-9 text-secondary">
<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="12747b62527867797f677a3c737e">[email&#160;protected]</a>
</div>
</div>

<hr>
<div class="row">
<div class="col-sm-3">
<h6 class="mb-0">Mobile</h6>
</div>
<div class="col-sm-9 text-secondary">
(320) 380-4539
</div>
</div>

<hr>
<div class="row">
<div class="col-sm-3">
<h6 class="mb-0">Student ID</h6>
</div>
<div class="col-sm-9 text-secondary">
202001400
</div>
</div>

<hr>
<div class="row">
<div class="col-sm-3">
<h6 class="mb-0">Codeforces Profile </h6>
</div>
<div class="col-sm-9 text-secondary">
    <input type="text" class="form-control" id="codeforces_profile" value="" name="codeforces_profile" fdprocessedid="cu6bmm"> </a>
</div>
</div>

<hr>
<div class="row">
<div class="col-sm-3">
<h6 class="mb-0">Program </h6>
</div>
<div class="col-sm-9 text-secondary">
    
      <select id="courses" name="courses[]" >
        <option value="course1">ICT</option>
        <option value="course2">ICT-CS</option>
        <option value="course3">MNC</option>
      </select>

</div>
</div>



<hr>
<div class="row">
<div class="col-sm-3">
<h6 class="mb-0">Current Year </h6>
</div>
<div class="col-sm-9 text-secondary">
    
    <form>
        <input type="radio" id="1styear" name="year" value="1st year">
        <label for="1styear">1st Year</label><br>
        <input type="radio" id="2ndyear" name="year" value="2nd year">
        <label for="2ndyear">2nd Year</label><br>
        <input type="radio" id="3rdyear" name="year" value="3rd year">
        <label for="3rdyear">3rd Year</label><br>
        <input type="radio" id="4thyear" name="year" value="4th year">
        <label for="4thyear">4th Year</label><br>
    </form>

</div>
</div>

<hr>

<div class="row">
<div class="col-sm-3">
<h6 class="mb-0">Address</h6>
</div>
<div class="col-sm-9 text-secondary">
Bay Area, San Francisco, CA
 </div>
</div>
<hr>
<div class="row">
<div class="col-sm-12">
<a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
</div>
</div>
</div>
</div>



<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
	
</script>
<!-- </body>
</html> -->